@import "bootstrap-colors"; // TODO: there must be a way of not having to copy-paste all that...

$body-bg: $black;
$body-color: $gray-200;
$primary: $red;

@import "../vendor/bootstrap-5.2.2/scss/bootstrap";
@import "../vendor/bootstrap-icons-1.10.2/bootstrap-icons";

.login-form .input-group-text {
    background-color: $gray-900;
}

.offline-banner {
    background-color: $gray-900;
}

.offline-banner.is-online {
    position: absolute;
    transform: translateY(-100%);
    transition: .3s ease-in-out;
}

.sidebar {
    background-color: $gray-900;
}

.sidebar a {
    color: $body-color;
}

.sidebar .nav-item .active {
    background-color: $primary;
}

.events-pending.events-pending-none {
    width: 0;
    height: 0;
    overflow: hidden;
}

.task-list li {
    background-color: $gray-900;
    color: $body-color;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    background: $gray-800;
}

::-webkit-scrollbar-thumb {
    background: $gray-600;
}

::-webkit-scrollbar-thumb:hover {
    background: $gray-500;
}

.bi-btn {
    font-size: 2em;
}

.btn-circle {
    border-radius: 50%;
}

.float-above {
    z-index: 10;
}
