@import "bootstrap-colors"; // TODO: there must be a way of not having to copy-paste all that...

$body-bg: $black;
$body-color: $gray-200;
$primary: $red;

@import "../vendor/bootstrap-5.2.2/scss/bootstrap";
@import "../vendor/bootstrap-icons-1.10.2/bootstrap-icons";

.login-form .input-group-text {
    background-color: $gray-900;
}

.offline-banner {
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: $gray-700;
    transition: .3s ease-in-out;
}

.offline-banner.is-online {
    transform: translateY(-100%);
}

.sidebar {
    background-color: $gray-900;
}

.sidebar a {
    color: $body-color;
}

.sidebar .nav-item .active {
    background-color: $primary;
}

.events-pending-spinner {
    transition: .1s ease-in-out;
}

.events-pending-spinner.no-events {
    transform: scale(0);
}

.events-pending-list.no-events {
    display: none;
}

.task-list li {
    background-color: $gray-900;
    color: $body-color;
}

.done-task-list {
    filter: brightness(50%);
}

.backlog-task-list {
    position: relative;
    border-top-style: groove;
    border-color: $red-700;
}

.backlog-drag-handle {
    position: absolute;
    z-index: 9;
    top: 0%;
    left: 50%;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    background: $gray-800;
}

::-webkit-scrollbar-thumb {
    background: $gray-600;
}

::-webkit-scrollbar-thumb:hover {
    background: $gray-500;
}

.bi-btn {
    font-size: 2em;
}

.btn-circle {
    border-radius: 50%;
}

.float-above {
    z-index: 10;
}

.drag-handle {
    cursor: grab;
}
