$white: #FFFFFF;
$black: #000000;
$dark: #001427;
$green: #708D81;
$yellow: #F4D58D;
$orange: #BF0603;
$red: #8D0801;

$body-bg: darken($dark, 4%);
$text: darken($white, 15%);
$input-title-bg: $dark;
$offline-banner-bg: lighten($dark, 3%);
$offline-banner-border: lighten($dark, 5%);
$tag-list-bg: darken($dark, 2%);
$tag-list-active-bg: lighten($dark, 3%);
$tag-list-hover: lighten($dark, 70%);
$task-list-bg: lighten($dark, 2%);
$backlog-handle: $red;
$scrollbar-track: $dark;
$scrollbar-thumb: lighten($dark, 10%);
$scrollbar-thumb-hover: lighten($dark, 20%);

$body-color: $text;
$primary: $red;

@import "../vendor/bootstrap-5.2.2/scss/bootstrap";
@import "../vendor/bootstrap-icons-1.10.2/bootstrap-icons";

.login-form .input-group-text {
    background-color: $input-title-bg;
}

.offline-banner {
    position: fixed;
    width: 100%;
    z-index: 5;

    background-color: $offline-banner-bg;
    border-bottom-style: solid;
    border-color: $offline-banner-border;
    border-width: 1px;

    transition: .3s ease-in-out;
}

.offline-banner.is-online {
    transform: translateY(-100%);
}

.sidebar {
    background-color: $tag-list-bg;
}

.sidebar a {
    color: $text;
}

.sidebar a.active {
    color: $text;
}

.sidebar a:hover {
    color: $tag-list-hover;
}

.sidebar .nav-item.active {
    background-color: $tag-list-active-bg;
    font-weight: bold;
}

.events-pending-spinner {
    transition: .1s ease-in-out;
}

.events-pending-spinner.no-events {
    transform: scale(0);
}

.events-pending-list.no-events {
    display: none;
}

.task-list li {
    background-color: $task-list-bg;
    color: $text;
}

.done-task-list {
    filter: brightness(50%);
}

.backlog-task-list {
    position: relative;
    border-top-style: groove;
    border-color: $backlog-handle;
}

.backlog-drag-handle {
    position: absolute;
    z-index: 9;
    top: 0%;
    left: 50%;
    cursor: grab !important;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    background: $scrollbar-track;
}

::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb;
}

::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-thumb-hover;
}

.bi-btn {
    font-size: 2em;
}

.btn-circle {
    border-radius: 50%;
}

.float-above {
    z-index: 10;
}

.drag-handle {
    cursor: grab;
}
