<?xml version="1.0" encoding="UTF-8"?>

<!-- Metadata -->
<widget xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    id="org.ekleog.risuto"
    version="1.0.0">
    <name>Risuto</name>
    <description>TODO</description>
    <author email="risuto@ekleog.org" href="https://github.com/Ekleog/risuto">
        Léo Gaspard
    </author>

    <!-- Contents -->
    <content src="index.html" />
    <hook type="before_prepare" src="build.sh" />

    <!-- Permissions -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
